*{
  background-image: url(./image/world.jpg);
  background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.paper:hover{
  background-color: aqua;
}
/* 
.grid{
  margin:30px 30px; 

}
.rowfirst{
 
  display: flex;
  

  color: transparent;
 }
.box1{
  color: transparent;
  cursor: pointer;
}
.hide{
  display:none;
}
.myDiv:hover + .hide{
  display:block;
   color:azure;
  background-color: aqua;
  
}  */